#admin-tour-image img{max-width: 100%; }
#tour.edit #admin-tour-image img{margin: 1em 0;}
#tour.show #admin-tour-image img{margin: 0 0;}
#tour.edit input[type="text"]{margin-bottom:0;}
#tour.edit input#image{background:#eaeaea;padding:.5em 0 .5em .5em;width: 100%;border: 1px solid #D8D8D8;}
#tour.edit p.explanation{padding:.25em 0;}
#tour.edit .file-helper{display: inline-block;font-style: italic;padding: .5em 0 0;}

#tour.browse .fa{
	font-family:"FontAwesome";
	font-style: normal;
	font-weight: lighter;
	font-size:1.35em;
	line-height:inherit;
	vertical-align: middle;
	padding-left: .25em;
	text-shadow:0 0 2px #fff;		
}
#tour.browse i.fa.fa-camera:after{
	content: "\f030";
	color: #ccc;	
	float: right;
	display: inline-block;
}
.hidden{
	display:none;
	visibility: hidden;
}
